---

const { blok } = Astro.props;

---

<div class="bg-black text-white h-full min-h-screen">

    <div class="mx-auto px-[30px] justify-center pt-40">
        <h1 class="text-h1 font-medium">{blok.Title}</h1>
    </div>

</div>
