---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

---


<div {...storyblokEditable(blok)} class="py-20">

    <div class="container mx-auto">

        <h2 class="text-lg">Call to action</h2>
        
    </div>

</div> 