---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

---


<div {...storyblokEditable(blok)} class={`py-20 bg-${blok.background}`}>

    <div class="container mx-auto">

        <h2 class="text-xl max-w-[900px]">{blok.title}</h2>
        
    </div>

</div> 