---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

---


<div {...storyblokEditable(blok)} class="py-32">

    <div class="mx-auto px-[30px] ">

        <div class="rounded-lg p-8 bg-pink relative">
            <h2 class="animate text-xxl max-w-[1100px] font-medium relative z-20">{blok.title}</h2>
            <p class="absolute z-20 bottom-8 left-8 text-md">{blok.Text}</p>
            <svg class="-mb-40 -mt-32 mx-auto relative z-10" width="1088" height="727" viewBox="0 0 1088 727" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M785.986 721.295C785.938 724.054 783.704 726.309 780.945 726.309L548.335 726.309C545.574 726.309 543.333 724.046 543.358 721.285C546.049 425.09 786.495 184.644 1082.69 181.958C1085.45 181.933 1087.71 184.174 1087.71 186.935L1087.71 419.545C1087.71 422.304 1085.46 424.538 1082.7 424.586C920.093 427.414 788.819 558.693 785.986 721.295Z" fill="#C8FB50"/>
                <path d="M5.12103 424.583C2.36227 424.535 0.107422 422.302 0.107422 419.543V186.933C0.107422 184.172 2.36956 181.931 5.13087 181.956C301.326 184.647 541.772 425.093 544.458 721.288C544.483 724.049 542.242 726.311 539.481 726.311H306.871C304.112 726.311 301.878 724.056 301.83 721.297C299.002 558.691 167.723 427.416 5.12103 424.583Z" fill="#C8FB50"/>
                <path d="M752.557 1.63563C754.542 -0.281125 757.716 -0.296193 759.667 1.65484L924.146 166.135C926.099 168.087 926.084 171.271 924.114 173.206C712.769 380.745 372.727 380.745 161.386 173.203C159.416 171.268 159.401 168.084 161.354 166.131L325.834 1.65142C327.785 -0.299655 330.959 -0.284506 332.943 1.63235C449.924 114.613 635.577 114.609 752.557 1.63563Z" fill="#C8FB50"/>
            </svg>
        </div>
        
    </div>

</div>