<div class="dragContainer w-full h-screen bg-black mt-[115px] relative flex items-center justify-center">

    <h1 class="text-white text-xxl font-[460] relative z-[2000] text-center pointer-events-none">Your brand, our world.<br />We are Okaia.</h1>
    <div class="dragElement aspect-square bg-pink w-[330px] rounded-lg absolute top-[10%] left-[40%] rotate-6 flex items-center justify-center">
      <svg width="304" height="294" viewBox="0 0 304 294" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2377_1457)">
        <path d="M220.729 0.569898L220.002 0.574604C206.276 0.729843 192.804 4.32263 180.806 11.0282C168.807 17.7337 158.66 27.3406 151.282 38.9803C143.753 27.4376 133.483 17.9633 121.399 11.4138C109.315 4.86431 95.7989 1.44614 82.072 1.46827L81.3457 1.47297C59.7204 1.81678 39.1047 10.7299 23.98 26.2748C8.85526 41.8198 0.444041 62.74 0.574731 84.4879C0.749726 111.497 12.7588 149.745 35.9035 181.131C79.9946 240.925 152.93 293.015 152.93 293.015C152.93 293.015 225.185 239.987 268.498 179.624C291.234 147.941 302.746 109.54 302.571 82.5313C302.42 60.7829 293.738 39.973 278.413 24.6253C263.087 9.27756 242.357 0.632668 220.729 0.569898Z" fill="black"/>
        </g>
        <ellipse cx="20.8792" cy="55.8486" rx="20.8792" ry="55.8486" transform="matrix(0.764922 0.644123 -0.960064 0.279782 189.335 111.596)" fill="#C8FB50"/>
        <ellipse cx="20.8792" cy="55.8486" rx="20.8792" ry="55.8486" transform="matrix(0.764922 0.644123 -0.960064 0.279782 189.142 81.7734)" fill="#C8FB50"/>
        <ellipse cx="20.8792" cy="55.8486" rx="20.8792" ry="55.8486" transform="matrix(0.764922 0.644123 -0.960064 0.279782 189.529 141.478)" fill="#C8FB50"/>
        <defs>
        <clipPath id="clip0_2377_1457">
        <rect width="302" height="292" fill="white" transform="translate(0.0402832 1.99707) rotate(-0.371219)"/>
        </clipPath>
        </defs>
        </svg>        
    </div>
    <div class="dragElement aspect-square bg-green w-[330px] rounded-lg absolute top-[30%] left-[20%] -rotate-6 flex items-center justify-center">
      <svg width="284" height="284" viewBox="0 0 284 284" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="77.6775" cy="77.6773" r="77.5664" fill="#D9D9D9"/>
        <circle cx="77.6775" cy="205.544" r="77.5664" fill="#D9D9D9"/>
        <circle cx="205.545" cy="77.6773" r="77.5664" fill="#D9D9D9"/>
        <circle cx="205.545" cy="205.544" r="77.5664" fill="#D9D9D9"/>
        </svg>        
    </div>
    <div class="dragElement aspect-square bg-blue w-[330px] rounded-lg absolute top-[45%] left-[55%] rotate-12">
      <img src="/okaiamask.png" class="w-full h-full p-12 object-contain" alt="">
    </div>
    <div class="dragElement aspect-square bg-blue w-[330px] rounded-full absolute top-[40%] left-[40%] rotate-12 bg-gradient-to-b from-green to-pink"></div>
</div>

<script>

import { gsap } from "gsap";
import { Draggable } from "gsap/Draggable";
import { InertiaPlugin } from "gsap/InertiaPlugin";

gsap.registerPlugin(Draggable,InertiaPlugin);



function init() {

  const elements = document.querySelectorAll(".dragElement");
  const container = document.querySelector(".dragContainer");

  gsap.registerPlugin(Draggable);

  elements.forEach(element => {
    Draggable.create(element, {
      bounds: window,
      edgeResistance: 0.5,
      type: "y,x",
      inertia: true,
      onDrag: function() {
        const rotation = (this.x / container.offsetWidth) * 180;
        gsap.to(element, {
          rotation: rotation,
          immediateRender: false
        });
      }
    });
  });

}

if (document.readyState === 'complete') {
  init();
} else {
  document.addEventListener('DOMContentLoaded', () => init());
}

window.swup.hooks.on('page:view', () => {})

</script>