---
import { storyblokEditable } from '@storyblok/astro'

import CoverDraggable from '../../includes/CoverDraggable.astro'
import CoverContact from '../../includes/CoverContact.astro'

const { blok } = Astro.props

console.log(blok)

---  


<div {...storyblokEditable(blok)}>
    
  { blok.Design == 'draggable' ? (
    <CoverDraggable blok={blok}></CoverDraggable>
  ) : (
    <CoverContact blok={blok}></CoverContact>
  )}

</div>