---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

---

<div {...storyblokEditable(blok)} class="bg-white pt-[120px] video">

    <div class="mx-auto px-[30px] max-w-[1600px]">

        <video playsinline autoplay muted class="rounded-lg">
            <source src={blok.media.filename} type="video/mp4" />
        </video>

    </div>

</div>