---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

---


<div {...storyblokEditable(blok)} class="my-36">

        
    <svg width="940" height="193" viewBox="0 0 940 193" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-auto">
        <circle cx="96.5" cy="96.5" r="96.5" fill="#C8FB50"/>
        <circle cx="817.5" cy="36.5" r="35.5" fill="#D9D9D9"/>
        <ellipse cx="309.25" cy="144.75" rx="48.25" ry="48.25" transform="rotate(-90 309.25 144.75)" fill="#0057FF"/>
        <ellipse cx="357.5" cy="97.0189" rx="48.25" ry="48.7688" transform="rotate(-90 357.5 97.0189)" fill="#0057FF"/>
        <ellipse cx="405.75" cy="144.75" rx="48.25" ry="48.25" transform="rotate(-90 405.75 144.75)" fill="#0057FF"/>
        <ellipse cx="309.25" cy="48.25" rx="48.25" ry="48.25" transform="rotate(-90 309.25 48.25)" fill="#0057FF"/>
        <ellipse cx="405.75" cy="48.25" rx="48.25" ry="48.25" transform="rotate(-90 405.75 48.25)" fill="#0057FF"/>
        <path d="M678.217 97L721 97C721 149.935 677.935 193.001 625 193L625 150.217C654.378 150.184 678.184 126.377 678.217 97Z" fill="#F2B3F9"/>
        <path d="M571.783 97L529 97C529 149.935 572.065 193.001 625 193L625 150.217C595.622 150.184 571.816 126.377 571.783 97Z" fill="#F2B3F9"/>
        <path d="M571.783 97L529 97C529 44.0649 572.065 0.999098 625 0.999997L625 43.7831C595.622 43.816 571.816 67.6231 571.783 97Z" fill="#F2B3F9"/>
        <path d="M678.217 97L721 97C721 44.0649 677.935 0.999113 625 1L625 43.7831C654.378 43.816 678.184 67.6231 678.217 97Z" fill="#F2B3F9"/>
        <path d="M852.413 193L782 193C782 105.878 852.878 34.9985 940 35L940 105.414C891.65 105.468 852.469 144.651 852.413 193Z" fill="#212529"/>
    </svg>
        

</div>
