---

import { storyblokEditable } from '@storyblok/astro'
import { getLangFromUrl, fetchStories } from '../../scripts/utils';


const lang = getLangFromUrl(Astro.url);

const teamMembers = await fetchStories('team', lang);

const { blok } = Astro.props
 
---

<div {...storyblokEditable(blok)} class="my-24">
    <div class="mx-auto px-[30px]">
        {blok.Title && 
        <h2 class="text-h2 font-medium max-w-[1200px] mb-20">{blok.Title}</h2>
        }
        <div class="grid grid-cols-4 gap-5">
            
        {teamMembers.map(member => (
            <div class="mb-4 group relative">
                <div class="relative group-hover:rounded-[80px] transition-slow overflow-hidden">
                    {member.content.Function && (
                        <div class="center text-white w-full text-center opacity-0 group-hover:opacity-100 transition-slow z-20">
                            <p class="border-white border rounded-lg px-8 py-4 inline-block">{member.content.Function}</p>
                        </div>
                        <div class="absolute inset-0 bg-black rounded-lg opacity-0 group-hover:opacity-30 transition-slow"></div>
                    )}
                        {member.content.Image.filename ? (
                        <img src={member.content.Image.filename + '/m/800x0/smart'} class="rounded lg:rounded-lg" />
                        ) : (
                            <img  class="rounded lg:rounded-lg" src="/default_image.jpg"/>
                        )}
                </div>
                <p class="mt-4">{member.content.Name}</p> 
            </div>
        ))}
        
        </div>

    </div>

</div>