---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

---


<div {...storyblokEditable(blok)} class={`title-block pt-28 mb-28`}>

    <div class="mx-auto px-[30px] ">

        <h1 class={`animate text-h4 lg:text-${blok.TitleSize} max-w-[770px] 2xl:max-w-[900px] font-medium inline-block text-black`}>
          
            {blok.title}
            {blok.button.title && <a class="button special mt-6 table" href={blok.button.cached_url}><span>{blok.button.title}</span></a> }

        </h1>

    </div>

</div> 

<style>
    main > div:first-of-type.title-block{
        padding-top: 10rem !important;
    }
</style>