---

import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props

---


<div {...storyblokEditable(blok)} class={`title-block py-28 bg-${blok.background}`}>

    <div class="mx-auto px-[30px] ">

        <h1 class="animate text-xl 2xl:text-xxl max-w-[770px] 2xl:max-w-[900px] font-medium inline-block text-black">
            {blok.title}

            { blok.buttonText ? (
                <a class="button special mt-6" href={blok.button.cached_url}><span>{blok.buttonText}</span></a>
            ) : (
                null
            )}

        </h1>

    </div>

</div> 

<style is:global>
    main > div:first-of-type.title-block{
        padding-top: 10rem !important;
    }
</style>